<a href="https://colab.research.google.com/github/rajtg19/MyLearning/blob/main/Book_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [11]:
train = pd.read_excel("/content/Data_Train.xlsx")
train.head()

                                        Title  ...   Price
0         The Prisoner's Gold (The Hunters 3)  ...  220.00
1          Guru Dutt: A Tragedy in Three Acts  ...  202.93
2                Leviathan (Penguin Classics)  ...  299.00
3          A Pocket Full of Rye (Miss Marple)  ...  180.00
4  LIFE 70 Years of Extraordinary Photography  ...  965.62

[5 rows x 9 columns]

In [12]:
train.describe(include='all')

                                             Title  ...         Price
count                                         6237  ...   6237.000000
unique                                        5568  ...           NaN
top     A Game of Thrones (A Song of Ice and Fire)  ...           NaN
freq                                             4  ...           NaN
mean                                           NaN  ...    560.707516
std                                            NaN  ...    690.110657
min                                            NaN  ...     25.000000
25%                                            NaN  ...    249.180000
50%                                            NaN  ...    373.000000
75%                                            NaN  ...    599.000000
max                                            NaN  ...  14100.000000

[11 rows x 9 columns]

In [13]:
train.Author.unique()

array(['Chris Kuzneski', 'Arun Khopkar', 'Thomas Hobbes', ...,
       'Saba Naqvi', 'Tom Phillips', 'Stephenie Meyer'], dtype=object)

In [14]:
train.Reviews.unique()

array(['4.0 out of 5 stars', '3.9 out of 5 stars', '4.8 out of 5 stars',
       '4.1 out of 5 stars', '5.0 out of 5 stars', '4.5 out of 5 stars',
       '4.4 out of 5 stars', '4.7 out of 5 stars', '4.2 out of 5 stars',
       '4.9 out of 5 stars', '3.5 out of 5 stars', '3.8 out of 5 stars',
       '4.3 out of 5 stars', '3.1 out of 5 stars', '4.6 out of 5 stars',
       '2.0 out of 5 stars', '3.7 out of 5 stars', '3.2 out of 5 stars',
       '2.6 out of 5 stars', '2.8 out of 5 stars', '3.4 out of 5 stars',
       '2.9 out of 5 stars', '3.3 out of 5 stars', '3.0 out of 5 stars',
       '2.5 out of 5 stars', '1.0 out of 5 stars', '3.6 out of 5 stars',
       '2.7 out of 5 stars', '1.5 out of 5 stars', '2.3 out of 5 stars',
       '1.7 out of 5 stars', '2.2 out of 5 stars', '1.4 out of 5 stars',
       '2.4 out of 5 stars', '1.6 out of 5 stars', '2.1 out of 5 stars'],
      dtype=object)

In [29]:
def extract_reviews(x):
  val = x.split()
  return float(val[0])

def extract_ratings(x):
  val = x.split()[0]
  val = int(str(val).replace(',',''))
  return val

def extract_edition(x):
  val = x.split()[0]
  val = str(val).replace(',','')
  val = str(val).replace('–',' ')
  val = str(val).replace('(','')
  val = str(val).replace(')',' ')
  return val.strip()

def Encode_Book_Category(df):
  Books_Category = []
  for items in train.BookCategory.unique():
    for each in items.split(','):
      for category in each.split('&'):
        Books_Category.append(category.strip())

  df = pd.concat([df, pd.DataFrame(columns=Books_Category)],ignore_index=True)

  for col in Books_Category:
    df[col] = df.BookCategory.apply(lambda x : 1 if col in x else 0)

  return df

In [17]:
train.Edition.unique()

array(['Paperback,– 10 Mar 2016', 'Paperback,– 7 Nov 2012',
       'Paperback,– 25 Feb 1982', ..., 'Paperback,– 26 Sep 2006',
       'Paperback,– 21 Nov 2016', 'Paperback,– 15 Jan 2015'], dtype=object)

In [30]:
train['Cover'] = train.Edition.apply(extract_edition)
train.Cover.unique()

array(['Paperback', 'Hardcover', 'Mass', 'Sheet', 'Flexibound', 'Plastic',
       'Loose', 'Tankobon', 'Perfect', 'Board', 'Cards', 'Spiral-bound',
       'Kannada Paperback', 'Product', 'Library', 'German Paperback',
       'Leather', 'French Paperback', 'Spanish Paperback'], dtype=object)

In [50]:
train[['Cover','Price']][train['Cover'].isin(['Paperback', 'Kannada Paperback'])]

          Cover   Price
0     Paperback  220.00
1     Paperback  202.93
2     Paperback  299.00
3     Paperback  180.00
5     Paperback  900.00
...         ...     ...
6232  Paperback  322.00
6233  Paperback  421.00
6234  Paperback  399.00
6235  Paperback  319.00
6236  Paperback  452.00

[5194 rows x 2 columns]

In [16]:
train = Encode_Book_Category(train)
train['Stars'] = train.Reviews.apply(extract_reviews)
train['Review#'] = train.Ratings.apply(extract_ratings)
train['Cover'] = train.Edition.apply(extract_edition)

            Author                  Edition   Price  ...  Politics  Stars  Review#
0   Chris Kuzneski  Paperback,– 10 Mar 2016  220.00  ...         0    4.0        8
1     Arun Khopkar   Paperback,– 7 Nov 2012  202.93  ...         0    3.9       14
2    Thomas Hobbes  Paperback,– 25 Feb 1982  299.00  ...         0    4.8        6
3  Agatha Christie   Paperback,– 5 Oct 2017  180.00  ...         0    4.1       13
4  Editors of Life  Hardcover,– 10 Oct 2006  965.62  ...         0    5.0        1

[5 rows x 28 columns]

In [ ]:
train.drop(columns=['BookCategory', 'Genre', 'Ratings', 'Reviews','Title', 'Synopsis','Edition', 'Cover'],inplace = True)
train.head()